/* Navbar.css */
.navbarNav {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  position: sticky;
}

.logoNav {
  margin: clamp(.5rem 5vw 1.5rem);

}

.logoNav h1 {
font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-linksNav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-itemNav {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.nav-itemNav:hover {
  background: #f4f4f4;
  transform: scale(1.05);
}

.nav-iconNav {
  font-size: 18px;
}

.logout-btnNav {
  font-family: 'Passero One', serif;
  background: none;
  border: none;
  color: #d9534f;
  cursor: pointer;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.logout-btnNav:hover {
  background: #f8d7da;
}

.hamburgerNav {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}

.nav-linksNav {
  transition: right 0.5s ease-in-out;
}

.nav-linksNav.showNav {
  right: 0;
}

.cart-badgeNav {
  background-color: red;
  border-radius: 50%;
  padding: 0px 11px;
  color: white;
}

@media screen and (max-width: 888px) {
  .nav-linksNav {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 200px;
    height: 100vh;
    background: white;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  
  }
.nav-itemNav{
  width: 150px;
  align-self: flex-end;
  border-radius: 0;
  box-shadow: 2px 2px 2px black;
}
  .hamburgerNav {
    display: block;
  }

  .nav-linksNav.showNav {
    right: 0;
  }
}