/* Signup Page Styles */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: linear-gradient(145deg, #ffc5f3, #f989bd);
  padding: 0 15px;
  font-family: "Iceland",serif !important;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  padding: 40px;
  text-align: center;
  gap: 20px;
  font-family: "Iceland",serif !important;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

h2 {
  font-size: 4rem;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-family: "Iceland",serif !important;
}

.signup-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.signup-input:focus {
  border-color: #ff86c5;
}

.signup-button {
  font-family: "Iceland",serif !important;
  width: 100%;
  padding: 14px;
  background-color: #ff86c5;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 2.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #ff66a1;
}

.login-info {
  margin-top: 20px;
  font-size: 1rem;
  color: #555;
}

.login-info a {
  color: #ff86c5;
  text-decoration: none;
  font-weight: bold;
}

.login-info a:hover {
  color: #ff66a1;
}

.signup-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

/* Flexbox for larger screens (side by side) */
@media (min-width: 768px) {
  .form-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .form-content {
    flex: 1;
    margin-right: 20px; /* Space between form and image */
  }

  .signup-image {
    max-width: 350px; /* Optional: you can adjust the image size */
    height: auto;
  }
}

/* Responsive Design (Smaller screens - Image below the form) */
@media (max-width: 767px) {
  .form-container {
    margin: 2rem auto;
    flex-direction: column;
    padding: 30px;
  }

  .signup-image {
    width: 80%;
    margin-top: 20px;
  }
}
